Repository icapps/op-env: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
    "*.ts": "eslint --cache --fix",
    "*.{ts,md,json}": "prettier --write"
}

Converted Jest config to JSON
  jest.config.js
  jest.config.json
Due: prettier --write

Updated README
  README.md
Due: prettier --write

Added support for environment variables and NVM
  .env.example
  .gitignore
  .nvmrc
  package-lock.json
  package.json
  src/config.ts
  src/index.ts
Due: eslint --cache --fix, prettier --write

Added support for YAML to lint-staged
  .lintstagedrc
  .lintstagedrc.json
  .prettierrc.json
  LICENSE.md
Due: prettier --write

Improved formatting
  docker-compose.yml
Due: none

Improved README formatting
  README.md
Due: prettier --write

Added support for GitHub Actions
  .github/workflows/ci.yml
  README.md
  bitbucket-pipelines.yml
Due: prettier --write

Fixed GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/install_dependencies.yml
Due: none

Fixed GitHub Actions
  .github/workflows/ci.yml
Due: none

Fixed GitHub Actions
  .github/actions/install_dependencies.yml
  .github/workflows/ci.yml
  .github/workflows/install_dependencies.yml
Due: none

Fixed GitHub Actions
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
Due: none

Added caching for Prettier to lint-staged
  .lintstagedrc.json
Due: prettier --write

Added .gitignore to ESLint and Prettier
  .lintstagedrc.json
  .prettierignore
Due: prettier --write

Updated nodemon config
  nodemon.json
Due: prettier --write

Removed source maps and tests from production builds
  Dockerfile
  package-lock.json
  package.json
  tsconfig.build.json
  tsconfig.json
Due: prettier --write

Added linting to CI/CD
  .github/workflows/ci.yml
  bitbucket-pipelines.yml
  package.json
Due: prettier --write

Added a name to the linting job for GitHub Actions
  .github/workflows/ci.yml
Due: none

first commit get and set
  .DS_Store
  nodemon.json
  package.json
  src/get-env.ts
  src/index.ts
  src/set-env.ts
Due: eslint --cache --fix, prettier --write

first cleanup
  .env.example
  .gitignore
  Dockerfile
  LICENSE.md
  bitbucket-pipelines.yml
  docker-compose.yml
  jest.config.json
  package-lock.json
  package.json
  src/config.ts
  src/example.test.ts
  src/get-env.ts
Due: eslint --cache --fix, prettier --write

use password package voor setting env
  src/get-env.ts
  src/set-env.ts
Due: eslint --cache --fix, prettier --write

remove tests from workflow
  .github/workflows/ci.yml
Due: none

added param validation with commander
  .gitignore
  README.md
  package-lock.json
  package.json
  src/get-env.ts
  src/set-env.ts
Due: eslint --cache --fix, prettier --write

use index file and bin
  package.json
  src/get-env.ts
  src/index.ts
  src/set-env.ts
Due: eslint --cache --fix, prettier --write

update readme
  README.md
Due: prettier --write

introduce formatters
  .eslintrc.json
  formatters/dart.formatter.ts
  formatters/env.formatter..ts
  formatters/formatter.ts
  package-lock.json
  package.json
  scripts/get-env.ts
  scripts/set-env.ts
  src/get-env.ts
  src/index.ts
  src/types.d.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

fix: filter empty lines from env file
  package-lock.json
  src/set-env.ts
Due: eslint --cache --fix, prettier --write

bump version
  package-lock.json
  package.json
Due: prettier --write

update readme
  README.md
  package.json
Due: prettier --write

wip for connect server
  package-lock.json
  package.json
  src/get-env.ts
  src/index.ts
  src/set-env.ts
Due: eslint --cache --fix, prettier --write

some cleanup
  src/get-env.ts
  src/set-env.ts
Due: eslint --cache --fix, prettier --write

log --> error
  scripts/set-env.ts
Due: eslint --cache --fix, prettier --write

merge
  package-lock.json
Due: prettier --write
